.startPage {
  width: 100%;
  height: 100%;
  background-image: url("../../../assets/images/background.jpeg");
  margin: 0px 0px 30px;
  padding: 230px 0px 90px 0px;
}

.beerItemSlider_container {
  width: 90%;
  height: 300px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 100px 50px 50px 70px;
}

.bannerSlider {
  margin-top: 20px;
  width: 100%;
}

.worldBeerImage {
  width: 300px;
  padding-bottom: 100px;
  padding-top: 100px;
}
